@import url("pygment.css");
/*
    Theme Name: mnmlist
    Theme URI: http://mathieu.agopian.info/mnmlist/theme.html
    Description: Theme adapted from http://mnmlist.com/theme/ from Leo Babauta, a very clean minimalist theme, without comments, search, archives or other features.
    Author: Mathieu Agopian
    Autor URI: http://mathieu.agopian.info

    This theme is uncopyrighted, free, and offered as is.
*/

/* hello */
@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* line 13, ../../compass/src/main.scss */
body {
  background: #eee;
  color: #333;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 40em;
  margin: 60px 14px 0 64px;
}

/* line 28, ../../compass/src/main.scss */
h1 {
  color: #333333;
  font-family: 'League Spartan', Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0;
}

/* line 34, ../../compass/src/main.scss */
h2 {
  color: #666666;
  font-family: 'League Spartan', Helvetica, sans-serif;
  font-size: 1.3em;
}

/* line 38, ../../compass/src/main.scss */
h3 {
  color: #666666;
  font-family: 'League Spartan', Helvetica, sans-serif;
  font-size: 1em;
}

/* line 42, ../../compass/src/main.scss */
h4 {
  color: #666666;
  font-family: 'League Spartan', Helvetica, sans-serif;
  font-size: 0.9em;
}

/* line 46, ../../compass/src/main.scss */
time {
  color: #c0c0c0;
  font-size: 50%;
}

/* line 51, ../../compass/src/main.scss */
img {
  border: none;
}

/* line 55, ../../compass/src/main.scss */
blockquote {
  border-left: 1px solid #A5ABAB;
  margin: 0px;
  padding: 0 12px 0 12px;
}

/* line 61, ../../compass/src/main.scss */
p {
  line-height: 20px;
  margin: 30px auto;
  text-indent: 0px;
}
/* line 65, ../../compass/src/main.scss */
p.caption {
  font-size: 80%;
  margin-top: 0;
}

/* line 71, ../../compass/src/main.scss */
a {
  border-bottom: #999 1px solid;
  color: #303030;
  text-decoration: none;
}
/* line 75, ../../compass/src/main.scss */
a:hover {
  color: #999;
}

/* line 78, ../../compass/src/main.scss */
ul, ol {
  padding: .5em 0em 1em 3.2em;
}
/* line 80, ../../compass/src/main.scss */
ul li, ol li {
  padding: 6px 0 0 0;
}

/* line 86, ../../compass/src/main.scss */
strong {
  color: #555555;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

/* line 92, ../../compass/src/main.scss */
tt, pre {
  background-color: #fafafa;
  font-family: Inconsolata, Monaco, monospace;
  line-height: 1.2em;
}

/* line 98, ../../compass/src/main.scss */
pre {
  font-size: 0.8em;
  overflow: auto;
  padding: 10px;
}

/* line 104, ../../compass/src/main.scss */
header {
  padding-bottom: 20px;
}
/* line 106, ../../compass/src/main.scss */
header a {
  border-bottom: none;
}
/* line 108, ../../compass/src/main.scss */
header a#page-title {
  font-weight: bold;
}

/* line 112, ../../compass/src/main.scss */
#article-list {
  margin-top: 100px;
}
/* line 114, ../../compass/src/main.scss */
#article-list ol li {
  line-height: 1.2em;
  list-style-type: none;
  padding-bottom: 10px;
}

/* line 121, ../../compass/src/main.scss */
.note {
  background: #efefef;
  margin: 1em 0;
}
/* line 124, ../../compass/src/main.scss */
.note p {
  display: inline;
}
/* line 126, ../../compass/src/main.scss */
.note p.first {
  font-weight: bold;
}
/* line 128, ../../compass/src/main.scss */
.note p.first:after {
  content: ' : ';
}

/* line 135, ../../compass/src/main.scss */
footer {
  background: #fff;
  color: #666;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
  margin-left: 20px;
}
/* line 142, ../../compass/src/main.scss */
footer a {
  border-bottom: none;
  color: #c0c0c0;
}
/* line 146, ../../compass/src/main.scss */
footer li {
  display: inline;
}
/* line 149, ../../compass/src/main.scss */
footer p {
  text-align: right;
}
